<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
    <h1> <%=foo%> </h1>


    <form action="/" method="POST">
      <input type="text" name='input'/>
      <button type="submit" name="list" value="add"> Add </button>
    </form>

    <form action="/" method="POST">
      <input type="text" name="input2"/>
      <button type="submit" name="list" value = "remove"> Remove </button>
    </form>


    <ul>
  <%    for(var a = 0; a < something.length; a++) {%>
      <li> <%= something[a] %>  </li>

  <%   } %>
    </ul>


    <ul>
  <%    for(var a = 0; a < something2.length; a++) {%>
      <li> <strike> <%= something2[a] %> </strike> </li>

  <%   } %>
    </ul>








  </body>
</html>
